
/* app css stylesheet */
body{
  font-family: 'Cabin', 'Lato',sans-serif;
  font-size:16px;
  text-align: left;
}

p{
  line-height: 1.3em;
}

.narrow-container{
  margin-left:22%;
  margin-right:22%;
  width: 56%; 
}

.div-color1{
  width:56%;
  background: white;
  margin: 4em 22%;
}


.div-color2{
  background:#F8F8F8;
  width:100%;
  padding:4em 0px;
}

.ui.fluid.card{
  border-radius:0px;
}

.ui.fluid.card:hover{
  box-shadow:12px 12px 2px 1px rgba(0, 0, 255, .2);;
}

.ui.card>.image>img, .ui.cards>.card>.image>img{
  border-radius: 0px;
}

.w100{
  width:100%
}

.role-text{
  font-size:14px;
}

.project-img{
  width:100%;
}

.social-media{
  align-content: left;
  margin-top: 0em
}
.ui.section.divider{
  margin-bottom:1rem;
}

.social-media img{
  width: 1.5em;
  margin-right:.5em;
  float: right
}

.ui.section.divider{
  text-align: center;
  margin-left: auto;
  margin-right:auto;
}

.slides{
  display: none;
  width: 80%;
  margin-left:auto;
  margin-right:auto;
}

.image-slider-content{
  max-width: 900px;
}

.image-slider{
  width:100%;
}

.prototype{
  width: 80%;
}

.scroll-to-top{
  text-align: center;
  align-content: center;
    margin:0px!important;
}


.ui.eight.column.grid{
  width: 100%;
  margin-left:auto;
  margin-right: auto;
}

.justify-text {
  text-align: justify;
}

.left-text{
  text-align: left;
}

.persona1{
  width: 100%;
  margin-bottom:50px; 
  margin-top:20px; 
  max-width: 500px
}

.persona2{
  width: 90%;
  margin-left:-6%;
  max-width: 450px
}

.bottom-arrows{
  height:1em;
  margin-top:1em;
  /*margin-bottom:2em; */
}

img.prototype{
  width: 100%;
}

.center{
  margin-left:auto;
  margin-right:auto;
}

.center-content{
  margin:30px 0px;
  text-align:center;
}

footer{
  width: 100%;
  text-align: left;
  align-content: left;
  margin-bottom:6em;
  /* margin:8em 0px; */
}

.ui.tiny.image{
  width: 100px
}

.ui.items>.item>.content.intro{
  margin-left:.5em;
  margin-top:.5em
}

.ui.menu.clean-borderless{
  border: none;
  box-shadow: none;
}


.ui.form{
  width: 100%;
  margin-top:3%;
}

.ui.submit.button{
  margin:3%;
  float:right;
}


.main-menu{
  margin-top:4em;
}

.invisible{
  display: none;
}

.scroll-to-top{
  position: fixed;
  bottom:0px;
  right:0px;
}

.menu-icon:hover{
  cursor: pointer;
}

.project-list{
  margin-top:3em;
}


.project-name-container{
	text-align: center;
  padding: 3em;
  min-height:380px;
}

.project-name-container figcaption{
	margin: -50px auto 0px;
	font-size: 20px;
}

.project-img {
	width: 45%;
	height: auto;
	margin: auto;
}

.small-icon{
	width:50px;
}

.button-container{
	background-color: #231F20;
	padding: 30px 60px 20px 60px;
}

.home{
	float:left;
	border: 1px solid gray; 
	border-radius: 50%; 
}

.arrow-container{
	float:right;
}



.text-align-justify {
	text-align: justify;
}

.video-caption{
	margin: 30px auto 10px;
}

.process-container{
	margin-top:20px;
}

video{
	margin: 0px auto 20px;
	width: 100%;
}

/*corewaar.css*/

.user-stories{
	width: 45%;
	padding: 20px;
}

.solution{
	width: 55%;
	padding:20px;
}

table tr, th, td {
	border: 1px solid lightgray;
}

.previous-sof-img {
	width: 48%;
	height: auto;
	margin: 0 auto 0;
	padding:5px;
}

figcaption{
  text-align: center;
  margin-top: 5px;
  margin-bottom: 20px;
}

.ut-arrow1{
  display: inline-block;
  position:absolute;
  width:25em;
  right:8%;
}


.ut-arrow{
  display: inline-block;
  position:absolute;
  width:20em;
  right:10%;
}

.underline{
  text-decoration: underline;
}

.solutions {
	width: 100%;
	height: auto;
	margin-top: 10px;
}

.prototype1 {
	width:48%;
	height: auto;
	margin:5px;	
}

.work-flow{
	margin: 2em;
}

.project-main-container{
  /* text-align: center; */
  margin-top:4em;
}

.slider-active{
 border-bottom:2px solid black;
}


.left-arrow{
  opacity: 0.6;
  vertical-align: middle;
  float:left;
}

.right-arrow{
  opacity: 0.6;
  float:right;
  text-align:right;
}

.arrow{
  height:40px;
}


.left-arrow:hover,.right-arrow:hover{
	opacity: 1;
}


.indicator{
  stroke:black;
  stroke-width:2; 
  fill:white;
}

.highlight{
  text-align:center;
  color:#486A32;
  font-size:18px;
  font-style: italic;
}

.ui.fixed.menu+.ui.grid{
  padding:0px;
  margin:0px;
}




/* for tablet */
@media only screen and (max-width: 1024px) {
  .ut-arrow{
    display: inline-block;
    position:absolute;
    width:18em;
    right:5%;
  }


  .ut-arrow1{
    display: inline-block;
    position:absolute;
    width:22em;
    right:4%;
  }


.narrow-container{
  margin-left:15%;
  margin-right:15%;
  width: 70%; 
}

.div-color1{
  width:70%;
  background: white;
  margin: 4em 15%;
}

}

/* 
for mobile: <768px */
@media only screen and (max-width: 768px) {
   body{
     text-align: center;
     align-content: center
   }

   .narrow-container{
     margin-left:20%;
     margin-right:20%;
     text-align: center;
   }

   /* Copied online for sub nav bar animation*/
   .sub-menu{
      opacity: 0;
      visibility: hidden;
      background: white;
      position: absolute;  
      top:3.8em;
      right:-1.6em;
      transform: translateY(-2em);
      z-index: -1;
      transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
   }
 
    .mobile-menu-icon{
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      transition: all 0.5s;
    }

    .mobile-menu:hover .sub-menu {
      visibility: visible; /* shows sub-menu */
      opacity: 1;
      z-index: 1;
      transform: translateY(0%);
      transition-delay: 0s, 0s, 0.3s; /* this removes the transition delay so the menu will be visible while the other styles transition */
    }

    /* copy end */

   .mobile-menu-icon:hover{
     transform: rotate(180deg);
     -webkit-transition: all 0.5s;
     -moz-transition: all 0.5s;
     transition: all 0.5s;
   }

   footer{
     text-align: center;
     align-content: center;
   }

   .social-media{
     align-content: center;
   }

   .social-media img{
      width: 2em;
      margin-right:0;
      float: none
    }

    .i.dropdown.big.icon{
      margin:0px;
      padding:0px;
    }

    .mobile-intro{
      text-align: center;
      margin-top:2em;
    }

    .mobile-profile{
      margin-bottom: 2em;
    }

    .main-menu{
      display: none;
    }

    .side-menu{
      visibility: hidden;
    }

    .shrink-menu{
      visibility: hidden;
      opacity: 0;
    }

    .project-img{
      height:12em;
      width: auto;
    }

    .w3-opacity, .image-slider,.w3-hover-opacity-off{
      margin:0px;
    }

    .column>.image-slider:hover{
      cursor:pointer
    }

    .project-intro{
      margin-top:1.5em;
      font-size:.8em;
      line-height: 1.2em
    }

    .contact-container{
      margin-top: 5em;
      text-align: left;
    }

    .ui.prototypes{
      width: 60%;
    }
}

.error-container{
  text-align: center;
}

#instafeed{
  margin:10px auto;
  text-align: center;
  margin-left:5%;
}

.gallery{
  margin:10px 0px;
}

.ui.secondary.vertical.text.menu{
  text-align: left;
  max-width:20%;
  margin-top:-10%;
  position: fixed;
  left:2em;
  top:50%;
  z-index: 2;
}

.ui.secondary.vertical.text.menu>.item{
  opacity: 0.7;
  background:none;
}

.ui.secondary.vertical.text.menu>.item:hover{
  opacity: 1;
  background:none;
}

.ui.secondary.vertical.text.menu>.active{
  opacity: 1;
}

.ui.secondary.vertical.text.menu>.active:hover{
  background:none;
  opacity: 1;
}

.ui.secondary.vertical.text.menu.item:hover{
  background:none;
}

.project-list>.column>.ui.fluid.card{
  max-height:300px;
}

.mgt2em{
  margin-top:2em;
}

.loading{
  width: 100%;
  height:20em;
}

.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 15em auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
