@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/* app css stylesheet */
body{
  font-family: 'Open Sans', sans-serif;
  font-size:14px;
  text-align: left;
}

.mobiletext{
  display: none;
}

.avatar_container{
  margin: 2em 0em;
}

.avatar_container .layout-column{
  margin: 0em 1em 2em 1em;
}

.icon_gray{
  color:#757575;
}

.down-arrow{
  margin:2em 0px;
  transition:transform .5s;
}

.down-arrow:hover{ 
  cursor: pointer;
  transform: translate(0px, 20px);
}

.project_labels{
  position: relative;
  top:200px;
}

.project{
  margin-bottom:2em;
}

.project:hover{
  cursor: pointer;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 7px 4px rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
}

.material-icons{
  display:inline
}

md-toolbar .md-toolbar-tools{
  background-color: #2962FF;
  position:fixed;
  z-index:1000!important;
}

p{
  line-height: 1.5em;
}

h3{
  margin-top:2em;
}

a{
  text-decoration: none;
  color:black;
}

a:hover{
  color:black;
}

.narrow-container{
  margin:0 20%;
}

.four-col-img{
  margin:0px 5px;
}

.uxconsulting .material-icons{
  color: #979797;
  margin:0 5px;
  font-size: 20px;
}


/* .backhome{
  margin-top:3em;
} */
.uxconsulting .material-icons.green{
  color: #80CBC4;
}

.uxconsulting .material-icons.red{
  color:#F06292;
}


section{
  margin-bottom:10em;
}

.toolbar-next{
  cursor: pointer;
  display:block;
  float:right;
  position:fixed;
  right:20px
}

.toolbar-now{
  display:block;
  float:left;
}

.col-text{
  margin:0 20px;
}

.climb-showcase{
  padding:4em 0;
}

.white-section{
  padding: 5em 0em;
  background-color:white;
}

.gray-section{
  padding: 5em 0em;
  background-color:#F8F8F8;
}


/* .div-color1{
  width:56%;
  background: white;
  margin: 4em 22%;
}


.div-color2{
  background:white;
  width:100%;
  padding:4em 0px;
}
 */

.ui.fluid.card{
  margin:0px!important;
  border-radius:0px;
  cursor:pointer;
}

.ui.dimmer>.card-caption, .ui.dimmer>.card-small-caption {
  padding-left:8%;
  padding-top:8%;
  text-align: left!important;
  text-transform: uppercase;
  line-height: 1.3;
}

.blurring.dimmable>.dimmer{
  background-color:rgba(0,0,0,0.6);
  cursor: pointer;
}

.card-caption>b {
  font-size:24px;
  color:white;
}

.card-caption>span, .card-small-caption>span {
  color:white;
}

.card-small-caption>b {
  color:white;
  font-size:18px;
}

.pjthumb{
  position: absolute;
}


.ui.divided.grid:not([class*="vertically divided"])>.column:not(.row), .ui.divided.grid:not([class*="vertically divided"])>.row>.column{
  box-shadow: none;
}

.stretched.row>.eight.wide.column{
  padding:0px!important;
  margin:0px!important;
}

.stretched.row>.four.wide.column{
  padding:0px!important;
  margin:0px!important;
}


.ui.card>.image>img, .ui.cards>.card>.image>img{
  border-radius: 0px;
}

.w100{
  width:100%
}

.role-text{
  font-size:14px;
}

.project-img{
  width:100%;
}

.social-media{
  align-content: left;
  margin-top: 0em
}
.ui.section.divider{
  margin-bottom:1rem;
}


.social-media img{
  width: 1.5em;
  margin-right:.5em;
  float: right
}

.ui.section.divider{
  text-align: center;
  margin-left: auto;
  margin-right:auto;
}

.slides{
  display: none;
  width: 100%;
  margin-left:auto;
  margin-right:auto;
}

.image-slider-content{
  /* max-width: 900px; */
  width: 100%;
}

.image-slider{
  width:100%;
}

.prototype{
  width: 80%;
}

.scroll-to-top{
  text-align: center;
  align-content: center;
    margin:0px!important;
}


.ui.eight.column.grid{
  width: 100%;
  margin-left:auto;
  margin-right: auto;
}

.justify-text {
  text-align: justify;
}

.left-text{
  text-align: left;
}


.funrow-pink{
  border:#FECCC5 15px solid;
  animation: color-me-in 5s;
}

@keyframes color-me-in {
  /* You could think of as "step 1" */
  0% {
    border: #F7DA58 15px solid;
  }
  50% {
    border: #D2E0E4 15px solid;
  }
  /* You could think of as "step 2" */
  100% {
    border: #FECCC5 15px solid;
  }
}


#space-invader{
  box-shadow:
    0 0 0 1em #D2E0E4,
    0 1em 0 1em #D2E0E4,
    -2.5em 1.5em 0 .5em #D2E0E4,
    2.5em 1.5em 0 .5em #D2E0E4,
    -3em -3em 0 0 #D2E0E4,
    3em -3em 0 0 #D2E0E4,
    -2em -2em 0 0 #D2E0E4,
    2em -2em 0 0 #D2E0E4,
    -3em -1em 0 0 #D2E0E4,
    -2em -1em 0 0 #D2E0E4,
    2em -1em 0 0 #D2E0E4,
    3em -1em 0 0 #D2E0E4,
    -4em 0 0 0 #D2E0E4,
    -3em 0 0 0 #D2E0E4,
    3em 0 0 0 #D2E0E4,
    4em 0 0 0 #D2E0E4,
    -5em 1em 0 0 #D2E0E4,
    -4em 1em 0 0 #D2E0E4,
    4em 1em 0 0 #D2E0E4,
    5em 1em 0 0 #D2E0E4,
    -5em 2em 0 0 #D2E0E4ed,
    5em 2em 0 0 #D2E0E4,
    -5em 3em 0 0 #D2E0E4,
    -3em 3em 0 0 #D2E0E4,
    3em 3em 0 0 #D2E0E4,
    5em 3em 0 0 #D2E0E4,
    -2em 4em 0 0 #D2E0E4,
    -1em 4em 0 0 #D2E0E4,
    1em 4em 0 0 #D2E0E4,
    2em 4em 0 0 #D2E0E4;

    background: #D2E0E4;
    width: 1em;
    height: 1em;
    overflow: hidden;

    margin: 50px 0 70px 65px;
    transition: transform 2s;
  }

  #space-invader:hover{
    transform: translate(200px, 0px);
    cursor: pointer;
    /* transition-duration: 5s; */
  }

#pacman {
  width: 0px;
  height: 0px;
  border-right: 60px solid transparent;
  border-top: 60px solid #F7DA58;
  border-left: 60px solid #F7DA58;
  border-bottom: 60px solid #F7DA58;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  transition:transform 0.2s;
}

#pacman:hover{
  transform:rotate(30deg)
}

.catBox{
  margin-top:2em;
  margin-bottom:2em;
  max-height: 600px;
}

#heart {
  position: relative;
  width: 100px;
  height: 90px;
  transition: transform .3s;
}
#heart:before,
#heart:after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: #FC483A;
  -moz-border-radius: 50px 50px 0 0;
  border-radius: 50px 50px 0 0;
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
     -moz-transform-origin: 0 100%;
      -ms-transform-origin: 0 100%;
       -o-transform-origin: 0 100%;
          transform-origin: 0 100%;
}
#heart:after {
  left: 0;
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
     -moz-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
       -o-transform-origin: 100% 100%;
          transform-origin :100% 100%;
}

#heart:hover{
  transform: scale(2);
}
        
	
.persona1{
  width: 100%;
  margin-bottom:50px; 
  margin-top:20px; 
  max-width: 500px
}

.persona2{
  width: 90%;
  margin-left:-6%;
  max-width: 450px
}

.bottom-arrows{
  height:1em;
  margin-top:1em;
  /*margin-bottom:2em; */
}

img.prototype{
  width: 100%;
}

.center{
  margin-left:auto;
  margin-right:auto;
}

.center-content{
  margin:30px 0px;
  text-align:center;
}

footer{
  width: 100%;
  text-align: left;
  align-content: left;
  margin-bottom:6em;
  margin-top:2em;
  opacity: 0.7;
  /* margin:8em 0px; */
}

footer>div>a>img:hover{
  opacity: 0.3;
}

.ui.tiny.image{
  width: 100px
}

.ui.items>.item>.content.intro{
  margin-left:.5em;
  margin-top:.5em
}

.ui.menu.clean-borderless{
  border: none;
  box-shadow: none;
}
 

.ui.form{
  width: 100%;
  margin-top:3%;
}

.ui.submit.button{
  margin:3%;
  float:right;
}

.main-menu{
  padding-top:6em;
}

.invisible{
  display: none;
}

.scroll-to-top{
  position: fixed;
  bottom:0px;
  right:0px;
}

.menu-icon:hover{
  cursor: pointer;
}


.project-name-container{
	text-align: center;
  padding: 3em;
  min-height:380px;
}

.project-name-container figcaption{
	margin: -50px auto 0px;
	font-size: 20px;
}

.project-img {
	width: 45%;
	height: auto;
	margin: auto;
}

.small-icon{
	width:50px;
}

.button-container{
	background-color: #231F20;
	padding: 30px 60px 20px 60px;
}

.home{
	float:left;
	border: 1px solid gray; 
	border-radius: 50%; 
}

.arrow-container{
	float:right;
}


.text-align-justify {
	text-align: justify;
}

.video-caption{
	margin: 30px auto 10px;
}

.process-container{
	margin-top:20px;
}

video{
	margin: 0px auto 20px;
	width: 100%;
}

/*corewaar.css*/

.user-stories{
	width: 45%;
	padding: 20px;
}

.solution{
	width: 55%;
	padding:20px;
}

table tr, th, td {
	border: 1px solid lightgray;
}

.previous-sof-img {
	width: 48%;
	height: auto;
	margin: 0 auto 0;
	padding:5px;
}

figcaption{
  text-align: center;
  margin-top: 5px;
  margin-bottom: 20px;
}

.ut-arrow1{
  display: inline-block;
  position:absolute;
  width:25em;
  right:8%;
}

.ut-arrow{
  display: inline-block;
  position:absolute;
  width:20em;
  right:10%;
}

.underline{
  color: blue;
  text-decoration: underline;
}

.solutions {
	width: 100%;
	height: auto;
	margin-top: 10px;
}


.intro{
  font-size: 60px;
}

.project-section.gray{
  background-color:white;
}

.project-section.white{
  background-color:white;
}


.prototype1 {
	width:48%;
	height: auto;
	margin:5px;	
}

.work-flow{
	margin: 2em;
}

/* .ui.grid.overview{
  border:1px solid #CFD8DC;
  padding:0px;
  margin-top:2em;
} */

.project-content-container{
  width:60%;
  margin-left:20%;
  margin-right:20%;
}

.project-section{
  margin-top:5em;
  margin-bottom:5em;
}



.project-main-container{
  /* text-align: center; */
  margin-top:4em;
}

.slider-active{
 border-bottom:2px solid black;
}


.left-arrow{
  opacity: 0.6;
  vertical-align: middle;
  float:left;
  cursor: pointer;
}

.right-arrow{
  cursor: pointer;
  opacity: 0.6;
  float:right;
  text-align:right;
}

.arrow{
  display:inline;
  height:40px;
}


.left-arrow:hover,.right-arrow:hover{
	opacity: 1;
}


.indicator{
  stroke:black;
  stroke-width:2; 
  fill:white; 
}

.highlight{
  text-align:center;
  color:#486A32;
  font-size:18px;
  font-style: italic;
}

.ui.fixed.menu+.ui.grid{
  padding:0px;
  margin:0px;
}



.project-list.content{
  margin-top:2em;
  margin-bottom: 6em;
}




/* for tablet */
@media only screen and (max-width: 1366px) {
  .opentovisit{
    display: block;
  }

  .mobiletext{
    display: none;
  }
}

/* 
for mobile: <768px */
@media only screen and (max-width: 768px) {
  .opentovisit{
    display: none;
  }

  .mobiletext{
    display: inline;
  }
}

.ui.right.floated.item:hover{
  border-bottom: black 2px solid;
}

.error-container{
  text-align: center;
  margin-top:3em;
}

#instafeed{
  margin:10px auto;
  text-align: center;
  margin-left:5%;
}

.gallery{
  margin:10px 0px;
}

.ui.secondary.vertical.text.menu{
  text-align: left;
  max-width:20%;
  margin-top:-10%;
  position: fixed;
  left:2em;
  top:50%;
  z-index: 2;
}

.ui.secondary.vertical.text.menu>.item{
  opacity: 0.7;
  background:none;
}

.ui.secondary.vertical.text.menu>.item:hover{
  opacity: 1;
  background:none;
}

.ui.secondary.vertical.text.menu>.active{
  opacity: 1;
}

.ui.secondary.vertical.text.menu>.active:hover{
  background:none;
  opacity: 1;
}

.image.visible.content, .hidden.content{
  padding:0!important;
}

.ui.secondary.vertical.text.menu.item:hover{
  background:none;
}

.op04{
  width: 100%;
  opacity: 0.4
}

.project-list{
  margin-left:20%;
  margin-right:20%;
  width: 60%; 
}

.redu{
  text-decoration: underline;
  color:#FC483A;
}

.blueu{
  text-decoration: underline;
  color:#1E62B2;
}

.project-list.content{
  margin-top:4em;
  margin-bottom:6em;
}

.user-experience:hover{
  transform: rotate(2deg);
  cursor: pointer;
  text-decoration: underline;
}


.ivy-lin:hover{
  transform: rotate(-2deg);
  cursor: pointer;
  text-decoration: underline;
}

.web-programmer:hover{
  transform: rotate(-2deg);
  cursor: pointer;
  text-decoration: underline;
}


/* .project-list>.column>.ui.fluid.card{
  height: 100%;
} */

.mgt2em{
  margin-top:2em;
}

.about{
  margin-top:4em;
  margin-bottom:6em;
}

.primary-container{
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
   -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
       animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}


.loading{
  width: 100%;
  height:20em;
  margin-top:10em;
}

.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 15em auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.pj-thumbnail{
    position:absolute
}

.dot{
  height:8px;
  width:8px;
  background-color:black;
  border-radius: 50%;
  display:inline-block;
  opacity: 0.3;
}

.dot:hover{
  opacity: 1;
}

.nav-title:hover{
  color:black;
  opacity: 1;
}

.three-icon-row{
  margin:4em 0;
}

.side-menu .item.overview.active .dot{
  background-color:black;
  opacity: 1;
}

.side-menu.row .item.overview.active .nav-title{
  color: black;
  opacity: 1;
}

.side-menu.row .item.overview .nav-title:hover{
  color:black;
  opacity: 1;
}

.side-menu{
  width:200px;
  position:fixed;
  top:40%;
  bottom: 60%;
  left:2em;
  line-height: 1.8em;
}
