<div class="about narrow-container">
        <!-- [will be changed]
<div id="instafeed" class="ui four column grid">     -->
        <!-- <img width="100%" src="img/bio.png"> -->
        <!-- <div class="placeholder" style="position:relative; background-color:black; width:100px; height:100px">

        </div> -->


        <div class="ui grid">
                <div class="intro row center-content">Hi, I am &nbsp;
                        <span style="background-color: #F7DA58">Ivy Lin.</span>
                </div>
                <div class="intro row center-content">I am a</div>

                <div class="intro row center-content"> <span style="background-color: #FECCC5">User experience designer</span></div>
                <div class="intro row center-content"> <span style="background-color: #D2E0E4">Web Programmer</span></div>
                <!-- <div class="row">
                        <video width="400" controls>
                                <source src="../img/about/game-programming-goldminer.mp4" type="video/mp4">
                                <source src="../img/about/game-programming-goldminer.mp4" type="video/ogg"> Your browser does not support HTML5 video.
                        </video>
                </div> -->
        </div>
</div>