<header>
        <div layout="column" layout-fill>
                <md-toolbar>
                        <div class="md-toolbar-tools" style="background-color:black">
                                <div layout="row">
                                        <div class="toolbar-now">
                                                <a ng-href="/">About Ivy</a>
                                        </div>
                                </div>
                        </div>
                </md-toolbar>
        </div>
</header>
<div class="about narrow-container">
        <div layout="row">
                <div flex="45">
                        <img width="100%" src="/img/me.jpeg ">
                </div>
                <div flex="5">
                </div>
                <div flex="50">
                        <p>
                                Hi. My name is Mengdie Lin and I go by Ivy. I am a first-year master student from the School of Information, University of
                                Michigan specialized in Human-computer Interaction (HCI). Before that, I studied computer
                                science at the University of Nottingham (two wonderful years in Ningbo, China and another
                                two in Nottingham, UK).
                        </p>
                        <p>
                                I am a tech advancer and a user experience designer. Besides developing software to serve people's needs, I care about how
                                people think of and interact with technologies. I am excited about exploring emerging technologies
                                such as AR/VR, automobiles, smart homes but also dedicated to improving experience around
                                websites, mobile applications and online services used on daily basis. I believe that technologies
                                could better facilitate human activities and bring real convenience and joy.
                                <b>
                                        I wish more people enjoy technologies, and enjoy it more.</b>
                        </p>
                        <p>
                                Besides the professional side of me, I am a person born with curiosity. You may find me always trying and learning new things.
                                I fill my stomach with delicious food from different areas and feed my brain with articles,
                                books, music, movies and stories from strangers. I love travelling and has been to nine countries.
                                I love jogging and have completed a half marathon last year. I am also a cat owner :p
                        </p>
                </div>
        </div>
</div>