<header>
    <div layout="column" layout-fill>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <div layout="row">
                    <div class="toolbar-now">
                        <a ng-href="/">Home</a>
                    </div>

                    <div class="toolbar-next">
                        <a ng-href="/easyfurniture">Next: EasyFurniture</a>
                    </div>
                </div>
            </div>
        </md-toolbar>
    </div>
</header>
<div class="loading" ng-show="loading" layout="row" layout-sm="column" layout-align="space-around">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>

<div ng-show="!loading" class="primary-container">
    <!-- 
side nav -->
    <div class="side-menu" ng-mouseover="showNavTitle()" ng-mouseleave="hideNavTitle()">
        <a href="#overview" class="item overview active" du-smooth-scroll du-scrollspy>
            <div>
                <span class="dot"></span>
                <span class="nav-title" ng-show="mouseover">Overview</span>
            </div>
        </a>
        <a href="#backintr" class="item overview" du-smooth-scroll du-scrollspy>
            <div>
                <span class="dot"></span>
                <span class="nav-title" ng-show="mouseover">Background Introduction</span>
            </div>
        </a>
        <a href="#neediden" class="item overview" du-smooth-scroll du-scrollspy ng-click="checkActive(neediden)">
            <div>
                <span class="dot"></span>
                <span class="nav-title" ng-show="mouseover">Needs Identification</span>
            </div>
        </a>
        <a href="#phaseone" class="item overview" du-smooth-scroll du-scrollspy>
            <div>
                <span class="dot"></span>
                <span class="nav-title" ng-show="mouseover"> Concepts Generation </span>
            </div>
        </a>
        <a href="#usertest" class="item overview" du-smooth-scroll du-scrollspy>
            <div>
                <span class="dot"></span>
                <span class="nav-title" ng-show="mouseover"> User Testing - Premiere </span>
            </div>
        </a>
        <a href="#dataanal" class="item overview" du-smooth-scroll du-scrollspy>
            <div>
                <span class="dot"></span>
                <span class="nav-title" ng-show="mouseover"> Data Analysis</span>
            </div>
        </a>
        <a href="#phasetwo" class="item overview" du-smooth-scroll du-scrollspy>
            <div>
                <span class="dot"></span>
                <span class="nav-title" ng-show="mouseover"> Design Refinement</span>
            </div>
        </a>
        <a href="#future" class="item overview" du-smooth-scroll du-scrollspy>
            <div>
                <span class="dot"></span>
                <span class="nav-title" ng-show="mouseover"> Future Direction </span>
            </div>
        </a>
        <a href="#reflection" class="item overview" du-smooth-scroll du-scrollspy>
            <div>
                <span class="dot"></span>
                <span class="nav-title" ap ng-show="mouseover"> Reflection</span>
            </div>
        </a>
    </div>

    <div class="project-name-container" style="background-color:#F8F8F8">
        <figure>
            <img src="img/climb/climb-banner.png" alt="climb-logo" class="project-img" />
        </figure>
        <figcaption style="margin-top:1%; color:black">
            <div class="project-intro">Music Storytelling Empowered by a Dynamic Programme Note</div>
        </figcaption>
    </div>

    <div id='overview' class="white-section">
        <div class="narrow-container">
            <h1> Overview </h1>
            <div layout="row">
                <div flex="25">
                    <b>Duration: </b>
                    <br> Nov 1 2016 - Aug 1 2017
                </div>
                <div flex="25">
                    <b> Role: </b>
                    <br> UX Designer
                    <br> Full stack web developer
                    <br> Co-authored of a
                    <br>
                    <a href="https://drive.google.com/file/d/1jM9P67TNZJIjdYFGh7NJsYYAeXN2uaow/view?usp=sharing" class="underline">publication</a>
                </div>
                <div flex="25">
                    <b> UX Methods:</b>
                    <br> Field Study
                    <br> Ideation
                    <br> Interview
                    <br> Survey
                    <br> Wireframe
                    <br> Web Prototyping
                    <br> Lo-fi & Hi-fi
                </div>
                <div flex="25">
                    <b>Tools:</b>
                    <br> Sketch
                    <br> Abobe XD
                    <br> AngularJS
                    <br> D3JS
                </div>
            </div>
            <br>
            <p>
                <b>*Note</b>: this work is part of the research project
                <a href="http://www.semanticaudio.ac.uk/blog/maria-kallionpaa-climb-a-virtuoso-piece-for-live-pianist-disklavier-and-interactive-system-2017/"
                    class="underline">“Climb!”</a> carried out by composer and pianist
                <a class="underline" href="https://www.linkedin.com/in/mariakallionpaa/">Maria Kallionpää</a> in collaboration with Mixed Reality Laboratory of Nottingham University and the Sound
                and Music Knowledge Group of Aalborg University. Complete design and development processes are illustrated
                in a
                <a href="https://drive.google.com/file/d/1jM9P67TNZJIjdYFGh7NJsYYAeXN2uaow/view?usp=sharing" class="underline">publication</a> which I co-authored and is accepted by CHI conference in 2018.</p>
            <div class="center-content">
                <figure>
                    <img width="80%" src="img/climb/overall-process.png"></img>
                </figure>
                <figcaption>
                    <i> Design Process</i>
                </figcaption>
            </div>
        </div>
    </div>

    <div id="backintr" class="gray-section">
        <div class="narrow-container">
            <h1>Background Introduction</h1>
            <p>
                Musicians have continuously been exploring the possibilities of presenting innovative musical experiences to their audiences.
                One of the pathways that they have gone done is the possibility of integrating modern technologies, especially
                computational technologies, in music performance and production. In this project, Dr Kallionpää</a>
                introduced a game-like musical composition, Climb!, with the intention to explore and understand the interaction between
                computer generated and human-performed piano pieces, in which the interaction may bring new experiences and
                interpretation of music to the audience.
            </p>

            <div class="center-content">
                <figure>
                    <img width="100%" src="img/climb/premiere1.png" data-action="zoom"></img>
                </figure>
                <figcaption>
                    <i> Climb! and Maria</i>
                </figcaption>
            </div>
            <p>
                The performance adopted a game structure incorporating multiple micro-compositions. Each micro-composition may lead to different
                destinations depending on how the musician performances. The whole performance is supported by technologies
                including a Disklavier piano which performs automatically accompanying the musician as pre-defined, a digital
                music score responding to musician's performance, a centre engine named Muzicodes serves as a conductor connecting
                and mediating all the components, and a mobile application guiding audience and support their interpretation.
            </p>

            <div layout="row" class="three-icon-row">
                <div flex="33" class="center-content">
                    <img src="https://png.icons8.com/color/96/000000/controller.png">
                    <div>
                        <b>Game-like Structure</b>
                    </div>
                </div>
                <div flex="33" class="center-content">
                    <img src="https://png.icons8.com/color/96/000000/monitor.png">
                    <div>
                        <b>Empowered by Technologies</b>
                    </div>
                </div>
                <div flex="33" class="center-content">
                    <img src="https://png.icons8.com/color/96/000000/recurring-appointment.png">
                    <div>
                        <b>Repeated Experience</b>
                    </div>
                </div>
            </div>

            <p>
                As the name of the composition, Climb!, indicates, the audiences will be presented a tour goes from basecamp to summit. There
                are three paths with multiple events and paths on the way, each of which represents one micro piano composition.
                The arrowed lines connecting stages are possible destinations of that stage. By performing differently, the
                musician determines the path, or say, an experience that audiences go through, which leads to various versions
                of performances as a whole, which leads to the possibility of repeated performances. During the composition
                process, Maria uses different narratives for each micro-composition to inspire her and they are incorporated
                into the mobile application to meet audiences interests.
            </p>

            <div class="center-content">
                <figure>
                    <img width="100%" src="img/climb/Climb-structure.png" data-action="zoom"></img>
                </figure>
                <figcaption>
                    <i>The game stucture of Climb!</i>
                </figcaption>
            </div>
        </div>
    </div>

    <div id="neediden" class="white-section">
        <div class="narrow-container">
            <h1>Needs Identification</h1>
            <div>
                <p>
                    Through contexual inquiry with comprehensive field studies (attending three rehearsals), it is reliased that the performance
                    is difficult to be interpreted. What's more, it causes confusion to audiences due to its complex ‘magical’
                    interactions. On the other hand, the innovative stucture of the composition is unpercivable to audiences.
                    For example, different stages are undistinguishable from each other and their stories are not presented,
                    which, if being revealed, could very likely raise more interests.
                </p>

                <div layout="row" class="three-icon-row">
                    <div flex="33" class="center-content">
                        <img src="https://png.icons8.com/color/96/000000/smiling-face-with-heart.png">
                        <div>
                            <b>Introduce to Audiences</b>
                        </div>
                    </div>
                    <div flex="33" class="center-content">
                        <img src="https://png.icons8.com/color/96/000000/new.png">
                        <div>
                            <b>Promote Novel Experience</b>
                        </div>
                    </div>

                    <div flex="33" class="center-content">
                        <img src="https://png.icons8.com/color/96/000000/literature.png">
                        <div>
                            <b>Reveal Stories Behand</b>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div id="phaseone" class="gray-section">
        <div class="narrow-container">
            <h1> Concepts Generation</h1>
            <p>
                The assisted tool is developed to be a web-based mobile application. Different from building native mobile applications,
                a web application allows rapid and flexible iterations, meanwhile, prevent users from downloading. Insipred
                by the paper programme notes used in traditional music concerts and tour guide in museums, the first phase
                of design incorporated a dynamic map. The appreance of the system adopts a mountain look to meet the leitmotiv
                of the performacne and the background is in dark blue to suit the dim environment during the performance.
                Each colored dot represent one micro-composition. The orange ones represents the ones have been visited and
                the red one is the present stage. The white ones indicate possible desitinations of the present stage, they
                are revealed one by one as the performance progress up the mountain. In each stage, a short narritive will
                be revealed to further introduce the context.
            </p>
            <p>
                One thing worths noting is that the design aims at scaffold understanding and interpretation of the work rather than to unpick
                audiences' specific interpretations.
            </p>
            <div>
                <div class="center-content">
                    <div layout="row">
                        <div flex="25" class="four-col-img">
                            <img width="100%" src="img/climb/prototype0.png" data-action="zoom">
                            <div>1</div>
                        </div>
                        <div flex="25" class="four-col-img">
                            <img width="100%" src="img/climb/prototype3.png" data-action="zoom">
                            <div>2</div>
                        </div>
                        <div flex="25" class="four-col-img">
                            <img width="100%" src="img/climb/stages.png" data-action="zoom">
                            <div>3</div>
                        </div>
                        <div flex="25" class="four-col-img">
                            <img width="100%" src="img/climb/prototype-phase1.gif" data-action="zoom">
                            <div>4</div>
                        </div>
                    </div>
                    <div class="ut-arrow1">
                        <img width="40%" src="img/arrow2.png"></img>
                        <br>
                        <a href="https://player.vimeo.com/video/251899179" class="underline" style="float:right">Video of first phase design</a>
                    </div>
                    <!-- <iframe allowFullScreen frameborder="0" height="564" mozallowfullscreen src="https://player.vimeo.com/video/251899179" webkitAllowFullScreen
                    width="640"></iframe> -->
                </div>
            </div>
        </div>
    </div>
    <div id="usertest" class="white-section">
        <div class="narrow-container">
            <h1>User Testing - Premiere</h1>
            <p>The premiere of Climb! took place in a classical recital hall as part of a regular series of contemporary music
                recitals at the University of Nottingham. The composer performed the work herself and around 50 audiences
                attended. The audience was a mixture of regular attendees for the event and those who had been invited by
                the research team. The regular attendees had a specific interest in contemporary music. Other attendees had
                much more diverse (mainstream) musical preferences, but most attendees reported at least “good” expertise
                in music.
            </p>
            <div class="image-slider-content center-content">
                <img class="slides " src="img/climb/intro.png" alt="premiere" data-action="zoom">
                <img class="slides " src="img/climb/premiere5.png" alt="mobile app" data-action="zoom">
                <img class="slides " src="img/climb/premiere6.png" alt="Disklavier" data-action="zoom">
                <img class="slides " src="img/climb/premiere2.png" alt="Disklavier self-play" data-action="zoom">
                <br>
                <figcaption>
                    <i>{{caption}}</i>
                </figcaption>

                <div layout="row">
                    <div flex="10"></div>
                    <div flex="20" class="four-col-img">
                        <img class=" image-slider w3-opacity w3-hover-opacity-off" src="img/climb/intro.png" alt="Premiere of Climb!" ng-mouseover="currentDiv(1)">
                        <div ng-show="slide==1" class="slider-active"></div>
                    </div>
                    <div flex="20" class="four-col-img">
                        <img class=" image-slider w3-opacity w3-hover-opacity-off" src="img/climb/premiere5.png" alt="Mobile app for Climb!" ng-mouseover="currentDiv(2)">
                        <div ng-show="slide==2" class="slider-active"></div>
                    </div>
                    <div flex="20" class="four-col-img">
                        <img class=" image-slider w3-opacity w3-hover-opacity-off" src="img/climb/premiere6.png" alt="Disklavier piano" ng-mouseover="currentDiv(3)">
                        <div ng-show="slide==3" class="slider-active"></div>
                    </div>
                    <div flex="20" class="four-col-img">
                        <img class=" image-slider w3-opacity w3-hover-opacity-off" src="img/climb/premiere2.png" alt="Disklavier piano autoplay"
                            ng-mouseover="currentDiv(4)">
                        <div ng-show="slide==4" class="slider-active"></div>
                    </div>
                    <div flex="10"></div>
                    <div class="ut-arrow">
                        <img width="50%" src="img/arrow.png" data-action="zoom"></img>
                        <br>
                        <a href="https://vimeo.com/251903131" class="underline" style="float:right">Video of Premiere</a>
                    </div>
                    <div class="column"></div>
                </div>
            </div>

            <p>
                The experiment was designed as two run in the premiere. In the first round, audiences were given minimized information about
                the performance with the mobile application, while in the second round we offered a vocal introduction about
                the performance including its unique structure and special settings, and introduce how the mobile application
                connected to the performance. Paper questionnaires were given after each round of performance and interviews
                were conducted on five selected audiences. In two performances the musician chose different paths.
            </p>
        </div>
    </div>

    <div id="dataanal" class="gray-section">
        <div class="narrow-container">
            <h1>Data Analysis</h1>
            <p> From questionnaires 83% (34/41) people used the app during the first performance and 74% (29/39) during the second.
                The app was seen as useful and an enhancement as far as it went, although there were many suggestions for
                how it might be extended. </p>
            <div layout="row" class="three-icon-row">
                <div flex="33" class="center-content">
                    <img src="https://png.icons8.com/color/96/000000/conference-call.png">
                    <div>
                        <b>41 Application Users</b>
                    </div>
                </div>
                <div flex="33" class="center-content">
                    <img src="https://png.icons8.com/color/96/000000/survey.png">
                    <div>
                        <b>34+29 Questionnaires</b>
                    </div>
                </div>

                <div flex="33" class="center-content">
                    <img src="https://png.icons8.com/color/96/000000/thinking-male.png">
                    <div>
                        <b>6 Interviews</b>
                    </div>
                </div>
            </div>

            Here we presented several quotes collected from our audiences in the premiere. After reflecting on analysis results and further
            discussions with Dr. Kallionpää, more needs are revealed regarding to the mobile application.
            <div class="center-content">
                <img width="100%" src="img/climb/climb-quotes.png" data-action="zoom">
            </div>

        </div>
    </div>

    <div id="phasetwo" class="white-section">
        <div class="narrow-container">
            <h1>Design Refinement</h1>
            <br>
            <br>
            <div layout="row" class="climb-showcase">
                <div flex="20" class="four-col-img">
                    <img width="100%" ng-src="img/climb/interface.png" data-action="zoom">
                </div>
                <div flex="20" class="four-col-img">
                    <img width="100%" ng-src="img/climb/programmenote.png" data-action="zoom">
                </div>
                <div flex="60" class="col-text" layout="row" layout-align="start center">
                    <div>
                        <h4>Customized Introduction</h4>
                        Audiences with diverse background and past experience in music can choose to check information that they are interested based
                        on the category.
                    </div>
                </div>
            </div>

            <div layout="row" class="climb-showcase">
                <div flex="60" class="col-text" layout="row" layout-align="start center">
                    <div>
                        <h4>Composition Overview</h4>
                        Audiences would have an overview of the performance stucture so they get a sense of how the performance would progress.
                    </div>
                </div>
                <div flex="20" class="four-col-img">
                    <img width="100%" ng-src="img/climb/mapoverview1.png" data-action="zoom">
                </div>
                <div flex="20" class="four-col-img">
                    <img width="100%" ng-src="img/climb/mapoverview2.png" data-action="zoom">
                </div>
            </div>


            <div layout="row" class="climb-showcase">
                <div flex="20" class="four-col-img">
                    <img width="100%" ng-src="img/climb/journey1.png" data-action="zoom">
                </div>
                <div flex="20" class="four-col-img">
                    <img width="100%" ng-src="img/climb/journey2.png" data-action="zoom">
                </div>
                <div flex="60" class="four-col-img" layout="row" layout-align="start center">
                    <div>
                        <h4>Narrative Summary</h4>
                        Audience would have an summary of narratives of each stages, which together forms a story that is unique to each performance.
                    </div>
                </div>
            </div>


            <div layout="row" class="climb-showcase">
                <div flex="60" class="four-col-img" layout="row" layout-align="start center">
                    <div>
                        <h4>Performance Compare and Contrast</h4>
                        Since each performance would be unique, it encourages audiences to repeatedly go back and listen to it. They can compare
                        each performance to see how it changes.
                    </div>
                </div>
                <div flex="20" class="four-col-img">
                    <img width="100%" ng-src="img/climb/compare1.png" data-action="zoom">
                </div>
                <div flex="20" class="four-col-img">
                    <img width="100%" ng-src="img/climb/compare2.png" data-action="zoom">
                </div>
            </div>
        </div>
    </div>

    <div id="future" class="gray-section">
        <div class="narrow-container">
            <h1>Future Direction</h1>
            <p>In the future, we may further engage audiences in the performance by allowing them to vote for destinations or
                give live feedback on musician's performances. Meanwhile, we are developing an online archive to help memorize various versions of performances in different venues. Videos and audios are collected and stored which become souvenirs for audiences. Additionally, by Feb 2018, Climb! has been
                performed by three musicians in four venues in Nottingham and London, UK. It is heading in Finland in June
                and the team is planning on a world tour later.
            </p>

            <div layout="row" class="three-icon-row">
                <div flex="33" class="center-content">
                    <img src="https://png.icons8.com/color/96/000000/joystick.png">
                    <div>
                        <b>Interactive</b>
                    </div>
                </div>
                <div flex="33" class="center-content">
                    <a href="http://music-mrl.nott.ac.uk/1/archive/explore/Climb">
                        <img src="https://png.icons8.com/color/96/000000/archive.png">
                    </a>
                    <div>
                        <b>
                            <a href="http://music-mrl.nott.ac.uk/1/archive/explore/Climb">Archive</a>
                        </b>

                    </div>
                </div>

                <div flex="33" class="center-content">
                    <img src="https://png.icons8.com/color/96/000000/globe.png">
                    <div>
                        <b>World Tour</b>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="reflection" class="white-section">
        <div class="narrow-container">
            <h1>Reflection</h1>
            <p>
                <h3>Designing innovative technology needs careful considerations from many perspectives. </h3>
                Firstly, audiences could get confused easily since they have never used this kind of performance assistance before. Secondly,
                since few experiment like this has been done before, the success of the experiment relies greatly on a comprehensive
                consideration on almost all the pespectives. For instance, in the user testing stage, we figured using mobile
                phones as the device supporting our software, distractions could occur easily and constantly. Also, since
                the performance involves multiple under-development technologies, hence support from engineers might be expected.
            </p>
            <!-- <p> The app was seen as useful and an enhancement as far as it went, although there were many suggestions for how
                it might be extended. Future directions would be:</p>
            <p>
                <b>Interactive</b>
            </p>
            <p>Audiences reported that the changing dots on the screen make them thought the system was interactive. Some of
                them tried to tab on the dots but nothing happend. In the future, the musician is thinking of letting audiences
                vote for paths, which could lead to interactions on mobile devices in a meaningful way.</p>
            <br>
            <p>
                <b>Distraction</b>
            </p>
            <p>
                How to eliminate the distraction caused by other medias on mobile devices requires further investigation. While the level
                of access to smartphones varies among individuals, and the distracion on mobile devices seems inevitable,
                an alternative way would be using devices particularly designed for the performance,which, however, raises
                further concerns on budget.
            </p>
            <br>
            <p>
                <b>Constraints in time and resources</b>
            </p>
            <p> Hosting such a performance is challenging since: first of all, Disklavier piano is not universal. Secondly, it
                incorporated multiple media devices which theaters and audiences may not have access to. Thirdly, it involves
                multiple under-development technologies hence support from engineers might be expected. These constraints
                lead to difficulty in user testing. Over the summer, we arranged two performances opening to the public over.
                To meet performance dates, the mobile application went through multiple quick iterations with development
                on prioritized needs and requirements. During the development process, I communicate actively with other
                members of the team for feedback. Specifically for the composer, I ensured the design meets her intention
                of composing this unique performance.
            </p> -->
        </div>

        <div class="white-section">
            <div class="narrow-container">
                <div class="left-arrow">
                    <a href="/">
                        <img class="arrow" src="img/left-arrow.png" alt="left arrow">
                        <div class="bottom-text">Home</div>
                    </a>
                </div>
                <div class="right-arrow">
                    <a href="/easyfurniture">
                        <div>
                            <img class="arrow" src="img/right-arrow.png" alt="right arrow">
                        </div>
                        <div class="bottom-text">Easy Furniture</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>