<div class="about narrow-container">
    <div class="ui grid column">

        <div class="ten wide column">
            <img width="460" height="640" src="/img/me.jpeg">
        </div>
        <div class="six wide column middle aligned content">
            <span style="font-size:84px; line-height:100px">Live life with fun</span>
            <span style="font-size:50px;" class="ec ec-raised-hands"></span>
        </div>

        <div class="row" style="height:100px">
        </div>
        <div class="six wide column middle aligned content">
            <h1>
                <span class="ec ec-lollipop"></span>
                Love design jams</h1>
            Design jams are good places to get hands dirty and inspire ideas.
        </div>
        <div class="ten wide column">
            <img src="/img/designjam.jpg" width="100%">
        </div>

        <div class="row" style="height:100px">
            </div>
            <div class="ten wide column">
                <iframe allowFullScreen frameborder="0" height="400" mozallowfullscreen src="https://player.vimeo.com/video/254982739" webkitAllowFullScreen
                    width="100%"></iframe>
            </div>
            <div class="six wide column middle aligned content">
                <h1>
                    <span class="ec ec-sunglasses"></span>Program games</h1>
                Gold Miner is one of my favourite games when I was young. I decided to program one by myself after learning c++.
            </div>

            <div class="row" style="height:100px">
                </div>
        
        
                <div class="six wide column middle aligned content">
                    <h1>
                        <span class="ec ec-yum"></span>
        
                        Food Food Food</h1>
                    Sushi and ramen are the best!
                </div>
        
                <div class="ten wide column">
                    <img src="/img/sushi.jpg" width="100%">
                </div>

        <div class="row" style="height:100px">
        </div>
        <div class="ten wide column">
            <img src="/img/cat.jpeg" width="100%">
        </div>
        <div class="six wide column middle aligned content">
            <h1>
                <span class="ec ec-smirk-cat"></span>
                Cat</h1>
            I have a cat named Orio. He... hmm, looks not friendly in this pic.
        </div>

       
    </div>
</div>