<div class="about narrow-container">
    <div class="ui grid column funrow-pink">
        <div class="eight wide column middle aligned content " style="padding-left:4em;">
            <span style="font-size:44px; line-height:100px ">Live Life with </span>
            <br>
            <span style="font-size:64px; ">FUN
                <span class="ec ec-raised-hands "></span>
            </span>

        </div>
        <div class="eight wide column ">
            <img width="360 " height="500 " src="/img/me.jpeg ">
        </div>

    </div>
    <div class="row " style="height:100px "></div>
    <div class="ui grid column">

        <div class="six wide column middle aligned content" height="100%">
            <div id="heart"> </div>
            <h1>
                Design jams</h1>
            Design jams are good places to get hands dirty and spark ideas.
        </div>
        <div class="ten wide column ">
            <img src="/img/designjam.jpg " width="100% ">
        </div>

        <div class="row " style="height:100px ">
        </div>
        <div class="ten wide column ">
            <iframe allowFullScreen frameborder="0 " height="400 " mozallowfullscreen src="https://player.vimeo.com/video/254982739 "
                webkitAllowFullScreen width="100% "></iframe>
        </div>
        <div class="six wide column middle aligned content ">
            <div id="space-invader"></div>
            <h1>
                Program games</h1>
            Gold Miner is one of my favourite games when I was young. I decided to program one by myself after learning c++.
        </div>

        <div class="row " style="height:100px ">
        </div>


        <div class="six wide column middle aligned content ">
            <div id="pacman"> </div>
            <h1>

                Food Food Food</h1>
            Sushi and ramen are the best!
        </div>

        <div class="ten wide column ">
            <img src="/img/sushi.jpg " width="100% ">
        </div>

        <div class="row " style="height:100px ">
        </div>
        <div class="ten wide column ">
            <img src="/img/cat.jpeg " width="100% ">
        </div>
        <div class="six wide column middle aligned content ">
            <a href="/error">
                <span style="font-size:30px" class="ec ec-smirk-cat"></span>
            </a>
            <h1>
                Cat</h1>
            Say Hi to Orio! He... hmm, seems hungry in this pic.
        </div>


    </div>
</div>