<div class="narrow-container project-list">
    <div class="ui two column grid computer only">
        <div class="column">
            <div class="ui fluid card">
                <a class="image" href="#/climb">
                    <img alt="Mobile app for Climb!" src="img/climb/climb-banner.png">
                </a>
                <div class="content">
                    <b>Mobile app for Climb!</b>
                    <br>
                    <span class="role-text">UI/Experience Designer
                        <br> Front-end developer</span>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui fluid card">
                <a class="image" ng-href="#/easyfurniture">
                    <img alt="project1" src="img/ef/ef.png">
                </a>
                <div class="content">
                    <b>Easy Furniture</b>
                    <br>
                    <span class="role-text">UX Designer</span>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui fluid card">
                <a class="image" href="#/corewar">
                    <img alt="project2" src="img/cw/corewar-banner.png">
                </a>
                <div class="content">
                    <b>Corewar</b>
                    <br>
                    <span class="role-text">UI/UX/Game Designer
                        <br> Front-end developer
                        <br>Product manager</span>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="ui fluid card">
                <a class="image" href="#">
                    <img alt="project4" src="img/ss/stoveside-banner.png">
                </a>
                <div class="content">
                    <b>Stoveside</b>
                    <br>
                    <span class="role-text">UI/UX Designer
                        <br>CHI student design competition</span>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui fluid card">
                <a class="image" href="#">
                    <img alt="project5" src="img/ar/prototype1.jpg">
                </a>
                <div class="content">
                        <b>AR Assisted Driving</b>
                        <br>
                        <span class="role-text">UI/UX Designer
                        <br>CHI last breaking work</span>
                    </div>
            </div>
        </div>
        <div class="column">
            <div class="ui fluid card">
                <a class="image" href="#">
                    <img alt="project6" src="img/consult/uxconsultant.jpeg">
                </a>
                <div class="content">
                        <b>Operation Process Evaluation</b>
                        <br>
                        <span class="role-text">
                        UX Consultant</span>
                    </div>
            </div>
        </div>
    </div>
</div>