<div class="project-list content">
    <header>
    <div layout="column" style="font-size:24px; margin:12em 0px">
        <div layout="row" layout-align="start center">
            Hi. I'm Ivy Lin.
            <br>I am a UX designer and a web developer.
            <br> Welcome to my page.
            <br>
        </div>
        <div layout="row" flex="100" class="down-arrow">
            <i class="material-icons">arrow_downward</i>
        </div>
    </div>
    <md-nav-bar md-no-ink-bar="disableInkBar" md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
        <md-nav-item md-nav-href="/" value="projects" name="projects">
            Projects
        </md-nav-item>
        <md-nav-item md-nav-href="/about" name="about">
            About
        </md-nav-item>

        <md-nav-item md-nav-href="https://drive.google.com/file/d/1y9sF5By38tzlVeMxhMF3WPcVJHO78cCI/view?usp=sharing" name="resume">
            Resume
        </md-nav-item>
    </md-nav-bar>
    </header>

    <md-card class="project" ng-click="go('/climb')">
        <div layout="row">
            <div flex="40">
                <img width="100%" height="100%" alt="Mobile app for Climb!" ng-src="img/climb/climb.png" class="md-card-image">
            </div>
            <div flex="60">
                <div layout="column">
                    <div flex="grow">
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">Mobile App for Climb!</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                            <p>
                                Climb! is a novel piano composition incorporating a unique structure and integrating a a number of technologies. More like
                                an experimental tool, here I present a dynamic programme note system, the mission of which
                                is to assist music storytelling and audience interpretation.
                            </p>
                        </md-card-content>

                    </div>
                    <div flex="100" layout-align="start end">
                        <!-- <div class="project_labels"> -->
                        <md-card-content>
                            <span class="label_button">
                                <md-tooltip>Mobile Based</md-tooltip>
                                <i class="material-icons icon_gray">phone_android</i>
                            </span>

                            <span>
                                <md-tooltip>Experience Design</md-tooltip>
                                <i class="material-icons icon_gray">palette</i>
                            </span>

                            <span>
                                <md-tooltip>Web Programming</md-tooltip>
                                <i class="material-icons icon_gray">code</i>
                            </span>
                            <span>
                                <md-tooltip>Group Project</md-tooltip>
                                <i class="material-icons icon_gray">supervisor_account</i>
                            </span>
                            <span>
                                <md-tooltip>Lead to Publication</md-tooltip>
                                <i class="material-icons icon_gray">star_rate</i>
                            </span>
                        </md-card-content>
                    </div>
                </div>

            </div>
        </div>
    </md-card>

    <md-card class="project" ng-click="go('/easyfurniture')">
        <div layout="row">
            <div flex="40">
                <img width="100%" height="100%" alt="Mobile app for Climb!" src="img/ef/ef.png" class="md-card-image">
            </div>
            <div flex="60">
                <div layout="column">
                    <div flex="grow">
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">Easy Furniture</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                            <p>
                                Easy Furniture is a website with the mission to connect local second hand sellers and buyers through an easy and efficient
                                mean. As a coursework for Interaction Design course, I went through a complete design cycle
                                from needs identification to clickable prototype.
                            </p>
                        </md-card-content>
                    </div>
                    <div flex="100" layout-align="start end">
                        <!-- <div class="project_labels"> -->
                        <md-card-content>
                            <span class="label_button">
                                <md-tooltip>Web Based</md-tooltip>
                                <i class="material-icons icon_gray">laptop</i>
                            </span>
                            <span>
                                <md-tooltip>Experience Design</md-tooltip>
                                <i class="material-icons icon_gray">palette</i>
                            </span>
                            <span>
                                <md-tooltip>Individual Project</md-tooltip>
                                <i class="material-icons icon_gray">person</i>
                            </span>
                        </md-card-content>
                    </div>
                </div>
            </div>

        </div>
    </md-card>

    <md-card class="project" ng-click="go('/uxconsulting')">
        <div layout="row">
            <div flex="40">
                <img width="100%" height="100%" alt="UX Consulting" src="img/consult/uxconsultant.png" class="md-card-image">
            </div>
            <div flex="60">
                <div layout="column">
                    <div flex="grow">
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">UX Consulting</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                            <p>
                                In this project we assessed customer experience of a local resort starting from pre-booking stage to post survey phase. We
                                conducted field observation and six interviews to collect data, used affinity wall to synthesize
                                them and finally made recommendations based on insights.
                            </p>
                        </md-card-content>
                    </div>
                    <div class="row" layout-align="end end">
                        <!-- <div class="project_labels"> -->
                        <md-card-content>
                            <span>
                                <md-tooltip>UX Research</md-tooltip>
                                <i class="material-icons icon_gray">zoom_in</i>
                            </span>

                            <span class="label_button">
                                <md-tooltip>Make Recommendations</md-tooltip>
                                <i class="material-icons icon_gray">lightbulb_outline</i>
                            </span>

                            <span>
                                <md-tooltip>Group Project</md-tooltip>
                                <i class="material-icons icon_gray">supervisor_account</i>
                            </span>
                        </md-card-content>
                    </div>
                </div>
            </div>
        </div>
    </md-card>

    <md-card class="project" ng-click="go('/corewar')">
        <div layout="row">
            <div flex="40">
                <img width="100%" height="100%" alt="UX Consulting" src="img/cw/corewar-banner.png" class="md-card-image">
            </div>
            <div flex="60">
                <div layout="column">
                    <div flex="grow">
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">Core War</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                            <p>
                                Used to be classic assembly language game on PC, Core War, is now brought into the mobile era. We wish the game can be known
                                and leanrt by more people hence I redesigned the interface to adapt to the aesthetical standard
                                today.
                            </p>
                        </md-card-content>
                    </div>
                    <div class="row" layout-align="end end">
                        <!-- <div class="project_labels"> -->
                        <md-card-content>
                            <span class="label_button">
                                <md-tooltip>Android Application</md-tooltip>
                                <i class="material-icons icon_gray">phone_android</i>
                            </span>

                            <span>
                                <md-tooltip>Experience Design</md-tooltip>
                                <i class="material-icons icon_gray">palette</i>
                            </span>
                            <span>
                                <md-tooltip>Group Project</md-tooltip>
                                <i class="material-icons icon_gray">supervisor_account</i>
                            </span>
                        </md-card-content>
                    </div>
                </div>
            </div>
        </div>
    </md-card>


    <!-- ============================= -->





    <!-- <div class="ui three column divided grid">
        <div class="stretched row">
            <div class="eight wide column">
                <div class="ui fluid card" ng-click="go('/climb')">
                    <div class="blurring dimmable image">
                        <div class="ui dimmer">
                            <div class="card-caption" >
                                <b>Dynamic programme note for Climb!</b>
                                <br>
                                <span class="role-text">UI/UX Designer & Researcher
                                    <br> Full-stack web developer
                                    <br> Co-authored a publication for CHI 2018</span>
                            </div>
                        </div>
                        <img alt="Mobile app for Climb!" src="img/climb/climb.png">
                        </a>
                    </div>
                </div>
            </div>

            <div class="four wide column">
                <div class="ui fluid card" ng-click="go('/easyfurniture')">
                    <div class="blurring dimmable image">
                        <div class="ui dimmer">
                            <div class="card-small-caption" ng-click="go('/easyfurniture')">
                                <b>Easy Furniture</b>
                                <br>
                                <span class="role-text">UI/UX Designer</span>
                            </div>
                        </div>
                        <img alt="project1" src="img/ef/ef.png">
                    </div>
                </div>


                <div class="ui fluid card">
                    <div class="blurring dimmable image">
                        <div class="ui dimmer">
                            <div class="card-small-caption">
                                <b>AR Assisted Driving</b>
                                <br>
                                <span class="role-text">UI/UX Designer
                                    <br>CHI last breaking work</span>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <span>*Contact me to know more
                                    <span></span>
                            </div>

                        </div>
                        <img alt="project5" src="img/ar/prototype1.png">
                    </div>
                </div>
            </div>


            <div class="four wide column">
                <div class="ui fluid card" ng-click="go('/uxconsulting')">
                    <div class="blurring dimmable image">
                        <div class="ui dimmer">
                            <div class="card-small-caption">
                                <b>Guest Experience Consulting</b>
                                <br>
                                <span class="role-text">
                                    UX consultant</span>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                            </div>
                        </div>
                        <img alt="project6" src="img/consult/uxconsultant.png">
                    </div>
                </div>


                <div class="ui fluid card"  ng-click="go('/corewar')">
                    <div class="blurring dimmable image">
                        <div class="ui dimmer">
                            <div class="card-small-caption">
                                <b>Corewar</b>
                                <br>
                                <span class="role-text">UI/UX/Game Designer
                                    <br> Front-end developer
                                    <br>Product manager</span>
                            </div>
                        </div>
                        <img alt="project2" src="img/cw/corewar-banner.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>