<div class="project-list content">
    <div class="ui three column divided grid">
        <div class="stretched row">
            <div class="eight wide column">
                    <div class="ui fluid card">
                        <a class="image" href="#/climb">
                            <img alt="Mobile a6p for Climb!" src="img/climb/climb.png">
                        </a>
                        <div class="card-caption">
                            <b>Mobile app for Climb!</b>
                            <br>
                            <span class="role-text">UI/UX Designer & Researcher
                                <br> Full-stack developer</span>
                        </div>
                </div>
            </div>
            <div class="four wide column">
                    <div class="ui fluid card">
                        <a class="image" ng-href="#/easyfurniture">
                            <img alt="project1" src="img/ef/ef.png">
                        </a>
                        <div class="card-caption">
                            <b>Easy Furniture</b>
                            <br>
                            <span class="role-text">UI/UX Designer</span>
                        </div>
                    </div>
                    <div class="ui fluid card">
                        <a class="image" href="https://drive.google.com/open?id=1iW78IIVAfpnSFpyxoorcaDnaMUUagSeg">
                            <img alt="project5" src="img/ar/prototype1.png">
                        </a>
                        <div class="card-caption">
                            <b>AR Assisted Driving</b>
                            <br>
                            <span class="role-text">UI/UX Designer
                                <br>CHI last breaking work</span>
                        </div>
                    </div>
            </div>
            <div class="four wide column">
                    <div class="ui fluid card" ng-mouseover="show()">
                        <a class="image" href="https://drive.google.com/open?id=162Z4eh04enaeMUXnuWoIt-kdimlT95li">
                            <img alt="project6" src="img/consult/uxconsultant.png">
                        </a>
                        <div class="card-caption">
                            <b>Operation Process Evaluation</b>
                            <br>
                            <span class="role-text">
                                UX Consultant</span>
                        </div>
                </div>
                    <div class="ui fluid card">
                        <a class="image" href="#/corewar">
                            <img alt="project2" src="img/cw/corewar-banner.png">
                        </a>
                        <div class="card-caption">
                            <b>Corewar</b>
                            <br>
                            <span class="role-text">UI/UX/Game Designer
                                <br> Front-end developer
                                <br>Product manager</span>
                        </div>
                    </div>
            </div>
        </div>
    </div>








    <!-- 
    <div class="stretched row">
        <div class="ui three column grid computer only">
            <div class="ten wide column">
                <div class="ui fluid card">
                    <a class="image" href="#/climb">
                        <img alt="Mobile app for Climb!" src="img/climb/climb.png">
                    </a>
                    <div class="content">
                        <b>Mobile app for Climb!</b>
                        <br>
                        <span class="role-text">UI/UX Designer & Researcher
                            <br> Full-stack developer</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div class="ui fluid card">
                        <a class="image" ng-href="#/easyfurniture">
                            <img alt="project1" src="img/ef/ef.png">
                        </a>
                        <div class="content">
                            <b>Easy Furniture</b>
                            <br>
                            <span class="role-text">UI/UX Designer</span>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="ui fluid card">
                        <a class="image" href="https://drive.google.com/open?id=1iW78IIVAfpnSFpyxoorcaDnaMUUagSeg">
                            <img alt="project5" src="img/ar/prototype1.png">
                        </a>
                        <div class="content">
                            <b>AR Assisted Driving</b>
                            <br>
                            <span class="role-text">UI/UX Designer
                                <br>CHI last breaking work</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="column">
                    <div class="ui fluid card">
                        <a class="image" href="https://drive.google.com/open?id=162Z4eh04enaeMUXnuWoIt-kdimlT95li">
                            <img alt="project6" src="img/consult/uxconsultant.png">
                        </a>
                        <div class="content">
                            <b>Operation Process Evaluation</b>
                            <br>
                            <span class="role-text">
                                UX Consultant</span>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="ui fluid card">
                        <a class="image" href="#/corewar">
                            <img alt="project2" src="img/cw/corewar-banner.png">
                        </a>
                        <div class="content">
                            <b>Corewar</b>
                            <br>
                            <span class="role-text">UI/UX/Game Designer
                                <br> Front-end developer
                                <br>Product manager</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>