<div class="loading" ng-show="loading" layout="row" layout-sm="column" layout-align="space-around">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>

<div ng-show="!loading">
    <header>
        <div layout="column" layout-fill>
            <md-toolbar>
                <div class="md-toolbar-tools" style="background-color:#B71C1C">
                    <div layout="row">
                        <div class="toolbar-now">
                            <a ng-href="/easyfurniture">Last: EasyFurniture</a>
                        </div>

                        <div class="toolbar-next">
                            <a ng-href="/corewar">Next: Core War</a>
                        </div>
                    </div>
                </div>
            </md-toolbar>
        </div>
    </header>

    <!-- 
      side nav -->
    <!-- <div ng-show="showSideNav" class="ui secondary vertical text menu side-menu computer only grid" ng-mouseover="showNavTitle()"
        ng-mouseleave="hideNavTitle()">
        <a href="#overview" class="item overview active" du-smooth-scroll du-scrollspy>
            <i class="circle icon"></i>
            <span class="nav-title" ng-show="mouseover">Overview</span>
        </a>
        <a href="#intro" class="item overview active" du-smooth-scroll du-scrollspy>
            <i class="circle icon"></i>
            <span class="nav-title" ng-show="mouseover">Introduction</span>
        </a>
        <a href="#objoverview" class="item overview active" du-smooth-scroll du-scrollspy>
            <i class="circle icon"></i>
            <span class="nav-title" ng-show="mouseover">Objective Overview</span>
        </a>
        <a href="#bkresearch" class="item overview" du-smooth-scroll du-scrollspy ng-click="checkActive(this)">
            <i class="circle icon"></i>
            <span class="nav-title" ng-show="mouseover">Background Research</span>
        </a>
        <a href="#datainterp" class="item overview" du-smooth-scroll du-scrollspy>
            <i class="circle icon"></i>
            <span class="nav-title" ng-show="mouseover">Data Interpretation</span>
        </a>
        <a href="#findrecom" class="item overview" du-smooth-scroll du-scrollspy>
            <i class="circle icon"></i>
            <span class="nav-title" ng-show="mouseover">Findings&Solutions</span>
        </a>
        <a href="#reflection" class="item overview" du-smooth-scroll du-scrollspy>
            <i class="circle icon"></i>
            <span class="nav-title" ng-show="mouseover">Reflection</span>
        </a>
    </div> -->


    <div class="project-name-container" style="background-color:#371A02; background-image:url('img/gh/resort.jpg'); background-repeat:no-repeat; background-size: 100%;">
    </div>
    <div id='overview' class="white-section">
        <div class="narrow-container">
            <div class="center-content">
                <h3>Guest Experience Consulting for Wonder Resort</h3>
            </div>
            <h1> Overview </h1>
            <div layout="row">
                <div flex="25">
                    <b>Duration: </b>
                    <br> Sep 10 2017 - Dec 15 2017
                </div>
                <div flex="25">
                    <b> Role: </b>
                    <br> UX Consultant
                    <br>
                    <br>
                    <b>Note:</b>
                    <br>Group Project of Four
                </div>
                <div flex="25">
                    <b> UX Methods:</b>
                    <br> Contextual Inquiry
                    <br> Interview
                    <br> Affinity Wall
                </div>
                <div flex="25">
                    <b>Tools:</b>
                    <br> 600+ Sticky Notes
                </div>
            </div>
        </div>
    </div>

    <div class="gray-section" id="intro">
        <div class="narrow-container">
            <h1>Introduction</h1>
            <div>
                <p>
                    <b>*To protect our client, the story will be told around a resort named Wonder Resort.</b>
                </p>
                <p>
                    Wonder Resort is a historical resort with long-standing, personal relationships with guests and local communities and a strong
                    commitment to preserving history and following tradition. It is dedicated to offering exceptional accommodations,
                    excellent customer services and memorable guest experiences.
                </p>
                <p>
                    Wonder Resort has overall been tremendously successful in terms of fulfilling their mission and their business goal. However,
                    recently they received some complaints regarding reservation processes and requested us to access and
                    make recommendations. The scope of the project is limited to those processes relating to guest experience,
                    from the time a potential guest considers making a reservation at Wonder Resort through when they receive
                    a post-stay survey.
                </p>
            </div>
        </div>
    </div>

    <div class="white-section" id="objoverview">
        <div class="narrow-container">
            <h1>Objective Overview</h1>
            <p>
                Through our analysis and interpretation of data obtained through employee interviews and from guest reviews and survey responses,
                we have identified two major areas of opportunity for Wonder Resort to improve their guest experience:
                <b>Guest Data Management
                </b> and
                <b>Information Delivery</b>. We believe that streamlining processes in these two areas will enable Wonder Resort
                to exceed guest expectations while also freeing up valuable organizational resources in the long-term.
            </p>
            <div layout="row">
                <div flex="50" class="four-col-img">
                    <h3>Guest Data Management</h3>
                    <img src="img/gh/desire1.png" width="100%">
                </div>
                <div flex="50" class="four-col-img">
                    <h3>Information Delivery</h3>
                    <img src="img/gh/desire2.png" width="100%">
                </div>
            </div>
        </div>
    </div>


    <div class="gray-section" id="bkresearch">
        <div class="narrow-container">
            <h1>Background Research</h1>
            <section>
                <h2>Secondary Research</h2>
                <p> We first conducted background research on Wonder Resort to understand its history, style, target audiences
                    through multiple channels including their official websites, customer reviews online, travel agency review
                    and presses.
                </p>
            </section>

            <h2>Contextual Inquiry</h2>
            <p>
                To better understand the user experience, we interviewed six employees of Wonder Resort. The interviews took place at Wonder
                Resort over two days (October 22 and 23, 2017), and the resulting analysis was conducted during November
                2017. Prior to conducting interviews, we prepared semi-structured interview protocols relevant to each interviewee’s
                expertise and role in the organization. We also had the unique opportunity to act as guests while conducting
                this project, allowing us to experience and observe many relevant processes directly.
            </p>
        </div>
    </div>

    <div class="white-section" id="datainterp">
        <div class="narrow-container">
            <h1>Data Interpretation</h1>

            <section>
                <h2>Data Collection</h2>
                <p>
                    In addition to notes and audio recordings collected through our six employee interviews, Wonder Resort provided several additional
                    data sources, including guest survey responses, internal reports, brochures and email templates.
                </p>
            </section>

            <h2>Data Synthesis</h2>
            <p>
                The information gathered from these sources was analyzed using
                <b>‘affinity mapping’</b>. First, all the audios recordings were transcribed and statements were extracted to
                form individual data points. Then, all data points were written on individual sticky notes, or affinity notes.
                Then, the sticky notes were grouped into categories based on thematic similarities and each grouping was
                given a label that synthesized its data points into a clear, specific finding. This process was repeated
                twice more until all 600+ sticky notes were incorporated into a few broad categories. These final groupings
                were then organized hierarchically and relationally along a wall, resulting in a visual model. The affinity
                mapping process and its tangible output provided us with a clearer understanding of the patterns and themes
                running through the data, highlighting areas of opportunity.
            </p>
            <div layout="row">
                <div flex="50" class="four-col-img">
                    <img src="img/gh/stickynotes.jpeg" width="100%">
                </div>
                <div flex="50" class="four-col-img">
                    <img src="img/gh/affinitywall.jpg" width="100%">
                </div>
            </div>
        </div>
    </div>

    <div class="gray-section" id="findrecom">
        <div class="narrow-container">
            <h1>Findings & Recommendations</h1>
            Our analyses revealed two overarching areas of opportunity at Wonder Resort : Guest Data Management and Information Delivery.
            The findings are presented starting with
            <i class="treatment icon"></i> and recommendations are with
            <i class="hand peace icon"></i>. One thing worth noting is that our recommendations were made respecting the style and context of Wonder
            Resort.

            <p>*There are more detials in the final report, please
                <a class="underline" href="mailto:ivylin@umich.edu" target="_top">email me to get access</a> if you are interesetd.</p>
            <br>
            <div class="ui grid">
                <div class="seven wide column">
                    <h3>Guest Data Management</h3>
                    <p>
                        <i class="treatment icon"></i> Guest data is being collected through various sources, however, there is no cohesive protocol
                        or centralized location for storing and accessing
                    </p>
                    <p>
                        <i class="treatment icon"></i>The current process for identifying and tracking VIP and repeat guests is problematic
                    </p>
                    <img src="img/gh/vip.png" width="100%">
                    <p>
                        <i class="hand peace icon"></i> Apply a centralized database
                    </p>
                    <img src="img/gh/central-location.png" width="100%">
                    <div class="ui divider"></div>
                    <p>
                        <i class="treatment icon"></i>Physical paperwork causes burdens on document management
                    </p>
                    <p>
                        <i class="hand peace icon"></i> Use of a file sharing program to manage data.
                    </p>
                </div>
                <div class="two wide column">
                    <div class="ui vertical divider">&</div>
                </div>
                <div class="seven wide column">
                    <h3>Information Delivery</h3>
                    <p>
                        <i class="treatment icon"></i> Information on the website is not being communicated to guests in an accessible or intuitive
                        way.
                        <p>
                            <i class="hand peace icon"></i>
                            </span>
                            Adjust informaiton structure to make important information more salient to users
                        </p>
                    </p>
                    <div class="ui divider"></div>
                    <p>
                        <i class="treatment icon"></i>Phone calls are a drain on staff resources and often do not result in increased understanding
                        or a sale
                        <p>
                            <i class="hand peace icon"></i>
                            </span>
                            Setting up a “Frequently Asked Questions” page
                        </p>
                        <div class="ui divider"></div>
                    </p>
                    <p>
                        <i class="treatment icon"></i>
                        Language barrier between guests and staff leads to miscommunication, negatively impacting guest experience
                        <p>
                            <i class="hand peace icon"></i> Having a short language training program
                        </p>
                    </p>
                    <img src="img/gh/report2.png" width="100%">
                </div>

            </div>
        </div>
    </div>

    <div class="white-section" id="reflection">
        <div class="narrow-container">
            <h1>Reflection</h1>
            <h3>The best recommendation is the one that fit the context the most. </h3>
            <p>
                While more and more advanced technologies are developed and the access to them becomes easier, we need to calm down and think
                of whether they would bring real benefit to clients. Some qustions that should be considered:
                <li>
                    What effort would be taken to adopt new tools (from pespectives of learning curve, deployment, budget, time constraint)?
                </li>
                <li>
                    What recommandations could lead to improvement in a short term? How about long term?
                </li>
                <li>
                    What criteria do we use to prioritize recommandations?
                </li>
            </p>
        </div>
    </div>

    <div class="gray-section">
        <div class="narrow-container">
            <div class="bottom-arrows">
                <div class="left-arrow">
                    <a href="/easyfurniture">
                        <img class="arrow" src="img/left-arrow.png" alt="left arrow">
                    </a>
                    <div class="bottom-text">Easy Furniture</div>
                </div>
                <div class="right-arrow">
                    <a href="/corewar">
                        <img class="arrow" src="img/right-arrow.png" alt="right arrow">
                    </a>
                    <div class="bottom-text">Core War</div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!-- 
          <button class='ui button' ng-show="hideMainMenu" ng-click='scrollToTop()'><i class="huge angle double up  icon scroll-to-top"></i></button> -->